@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Quicksand", "Helvetica", "Arial", sans-serif;
  background-color: #f9f9f9;
}

.masonry-grid {
  display: flex;
  margin-left: 30px;
  width: auto;
  gap: 30px;
}
.masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.masonry-grid-column > div {
  margin-bottom: 30px !important;
}

.MuiGrid-grid-lg-3 {
  max-width: 100% !important;
}
